/* ***** GENERAL RULES ***** */
h1, h2 {
    font-family: VT323;
    font-size: 1.5em;
}

p {
    font-family: Montserrat;
    font-size: 0.9em;
}

.hidden{
    display: none !important;
}


/* ***** MEDIA QUERIES ***** */ /*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
*/
@media (min-width:992px) {
    #basic-addon1, #header-element {
        margin-top: 200px;
    }
}

/* allow to see bottom of pages despite of the bottom nav */
main {
    margin: 80px 0;
}

/* ***** HEADER ***** */

#nav-header li a {
    font-size: 1.2em;
    min-height: 70px;
    background: rgba(35, 35, 35, 0.9);
    border-right: 1px solid #F95229;
    border-left: 1px solid #F95229;
    font-family: VT323;
    font-size: 1.5em;
}

#header-row {
    padding: 10px 0;
    background-image: url("../img/head-home.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

#header_row form {
    min-height: 20px;
}

#icons-log {
    padding: 0;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

#search_bar_search, #search_bar_Recherche {
    background: #FFF;
    border: 1px solid 
}

#search_bar_Recherche {
    border-left-radius: 
}

/* ***** MAP ***** */
#map {
        height: 500px;
        width: 100%;
}

