{% extends 'admin/baseadmin.html.twig' %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block body %}
    <h1>Détails de l'utilisateur {#{{ user.firstname }} {{ user.lastname }}#} </h1>
    
    <h2>Liste des lieux (par exemple)</h2>
    {# Définir ce que l'on veut afficher dans les détails du user #}
    
    <ul>
        {% for %}
        {# Ajouter ici les appels que l'on veut #}
        {% endfor %}
    </ul>
        <a href="{{ path('list_user') }}">Retour à la liste des users</a>
    
    
{% endblock %}