{# admin/homeadmin #}
{% extends 'admin/baseadmin.html.twig' %}

{% block title %} Globetriber Dashboard - Accueil {% endblock %}


{% block body %}
    <h1>Déterminer contenu home</h1>
{% endblock %}
