<!DOCTYPE html>
<html lang="fr">

    <head>
        
        {% include 'meta.html.twig' %}
        
        <title>{% block title %}GlobeTribers{% endblock %}</title>
        
        {% include 'stylesheets.html.twig' %}
        
    </head>
    <body>
        
        <header>
            
            <span>
                <a href="{{ path('home') }}">
                    <img id="logo" src="{{ asset('img/logoGT_v1.png') }}" alt="GlobeTribers">
                </a>
            </span>
            
            <nav>
                <ul class="nav nav-justified fixed-bottom">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messagerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Paramètres</a>
                        </li> 
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Backoffice</a>
                            </li> 
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="modal" data-target="#storytelling">Les coulisses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_registration') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            
        </header>
        
        <main class="container">
            
            {% include 'modal_base.html.twig' %}
            
            {% block body %}{% endblock %} 
            
        </main>
        
        <footer>
            
            
            
        </footer>
    
        {% include 'scripts.html.twig' %}
        
    </body>

</html>