<!DOCTYPE html>
<html lang="fr">
    <head>
        
        {% block meta %}{% endblock %}
        
        <title>{% block title %}GlobeTribers{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
        
        {% block body %}{% endblock %}
        
        
        <footer>
        
        
        
        </footer>
    
        {% block scripts %}{% endblock %}    
        
    </body>

</html>
