{% extends "base.html.twig" %}

{% use "bootstrap_4_layout.html.twig" %}

{% block body %}
    
    <fieldset>
        <legend>Connectez-vous</legend>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class=form-group">
                <label for="username" class="form-control-label">Nom d'utilisateur :</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>


            <label for="password" class="form-control-label">Mot de passe :</label>
            <input class="form-control" type="password" id="password" name="_password" />

            <button class="btn-secondary btn" type="submit">Connexion</button>
        </form>
    </fieldset>

{% endblock %} 